---
import Layout from '~/layouts/PageLayout.astro';
import { Picture } from '@astrojs/image/components';

const meta = {
  title: 'Proiect Por 2014-2020',
};
---

<Layout {meta}>
  <section class="py-8 sm:py-16 lg:py-20 mx-auto">
    <article>
      <header>
        <Picture
          class="mx-auto rounded-md w-full max-w-3xl mb-8 px-6"
          widths={[400, 768, 1024, 2040]}
          sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
          loading="eager"
          width={400}
          height={576}
          src={import('~/assets/images/proiect_por_header.jpg')}
          alt="Proiect Por"
        />
        <h1
          class="px-4 sm:px-6 max-w-3xl mx-auto text-3xl md:text-4xl font-bold leading-tighter tracking-tighter font-heading text-center"
        >
          PREZENTARE PROIECT
        </h1>
        <p
          class="max-w-3xl mx-auto mt-4 mb-8 px-4 sm:px-6 text-xl md:text-2xl text-muted dark:text-slate-400 text-justify"
        >
          „Crearea și dotarea unei unități noi de producție elemente de dulgherie și tâmplărie, pentru construcții”, cod
          SMIS 131672
        </p>

        <div
          class="mx-auto px-6 sm:px-6 max-w-3xl prose prose-lg lg:prose-xl dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg mt-8"
        >
          <Fragment>
            <div class="content">
              <p>
                <strong>SC IMPERIAL WOOD INDUSTRY SRL</strong>, în calitate de <strong>Beneficiar</strong>, a
                implementat proiectul <strong
                  >„Crearea și dotarea unei unități noi de producție elemente de dulgherie și tâmplărie, pentru
                  construcții”</strong
                >, cod SMIS 131672, finanțat prin Programul Operaţional Regional 2014-2020, Axa prioritară 2:
                ”Îmbunătăţirea competitivităţii întreprinderilor mici și mijlocii”, Prioritatea de investiţii 2.1:
                “Promovarea spiritului antreprenorial, în special prin facilitarea exploatării economice a ideilor noi
                și prin încurajarea creării de noi întreprinderi, inclusiv prin incubatoare de afaceri”.
              </p>
              <p>
                Contractul de finanțare a fost încheiat cu <strong
                  >Ministerul Lucrărilor Publice, Dezvoltării și Administrației</strong
                >, în calitate de <strong>Autoritate de Management</strong> și cu <strong
                  >Agenția pentru Dezvoltare Regională Nord-Est</strong
                >, în calitate de <strong>Organism Intermediar</strong>.
              </p>
              <p>
                <strong>Valoarea totală a proiectului</strong> este de 1.346.859,97 lei, din care <strong
                  >valoarea eligibilă nerambursabilă din FEDR</strong
                > 773.179,30 lei și <strong>valoarea eligibilă nerambursabilă din bugetul naţional</strong> 136.443,38 lei.
              </p>
              <p>
                <strong>Obiectivul general</strong> al proiectului îl constituie dezvoltarea activității SC Imperial Wood
                Industry SRL, consolidarea poziției pe piață și atragerea de noi clienți prin realizarea de investiții în
                echipamente performante cu productivitate ridicată.
              </p>
              <p><strong>Obiectivele specifice</strong> ale proiectului sunt:</p>
              <p>
                1. Dezvoltarea activității firmei într-un nou punct de lucru, prin realizarea de investiții în utilaje
                performante, care vor avea ca efect creșterea capacității de producție actuale și diversificarea gamei
                de produse prin introducerea în procesul de fabricație a 2 noi tipuri de produse.
              </p>
              <p>
                Proiectul constă în inființarea unei noi unități de producție și dotarea cu echipamente cu scopul de a
                dezvolta sectorul de tâmplărie lemn (uși de interior și exterior, tâmplărie exterioară) pe două
                direcții:
              </p>
              <p>
                1.1 Creșterea capacitătii de producție pentru produsele existente: uși de interior, uși de exterior,
                tâmplarie exterioară;
              </p>
              <p>
                1.2 Diversificarea gamei de produse prin introducerea următoarelor produse: ferestre eliptice, curbe în
                plan și cu forme atipice și uși de exterior și interior cu forme atipice, cu gravuri, sculpturi;
              </p>
              <p>
                2. Promovarea proiectului prin publicarea unui anunţ iniţial, privind semnarea contractului de finanţare
                şi a unui anunţ final, privind diseminarea rezultatelor proiectului şi întocmirea de materiale
                publicitare.
              </p>
              <p><strong>Rezultatele proiectului</strong> sunt:</p>
              <p>
                1. Echipamente, software și dotări achiziționate: ( 1 centru de prelucrare cu comandă numerică, 1 pachet
                software pentru centrul de prelucrare cu comandă numerică, 1 circular, 1 compresor, 1 șlefuitor, 1 presă
                de brichetat, 1 sistem fotovoltaic, 25 corpuri de iluminat LED, 2 bare stabilizatoare persoane cu
                dizabilități);
              </p>
              <p>
                2. Proiect promovat, conform Manualului de Identitate Vizuala POR 2014-2020 (2 comunicate de presă, 1
                panou informativ, 4 etichete echipamente, 1 placă permanentă);
              </p>
              <p>3. 5 angajați noi din care 1 angajat din categoriile defavorizate.</p>
              <p>
                <strong>Durata de implementare a proiectului</strong> a fost de 43 de luni, respectiv între data 01.06.2019
                și 31.12.2022.
              </p>
              <p>
                Informaţii suplimentare se pot obţine la:<br />
                Nume persoană de contact: Gabriel-Liviu SPÎNU<br />
                Funcţie: Administrator<br />
                Telefon/Fax: 0745838815 / 0332110581, <br />
                e-mail: <a href="mailto: imperialwood_iasi@yahoo.com">imperialwood_iasi@yahoo.com</a>
              </p>
              <p style="text-align:center;">
                Pentru informaţii detaliate despre celelalte programe cofinanţate de Uniunea Europeană, vă invităm să
                vizitaţi <a href="https://www.fonduri-ue.ro/">https://www.fonduri-ue.ro/</a>, <a
                  href="https://www.inforegio.ro/ro/">https://www.inforegio.ro/ro/</a
                > și <a href="https://www.facebook.com/inforegio.ro">facebook.com/inforegio.ro</a>
              </p>
              <h3 style="text-align:center; margin-top:50px;margin-bottom:30px;">
                SC IMPERIAL WOOD INDUSTRY<br /> SRL
              </h3>
              <p style="text-align:center;color:#003399;">
                Investim în viitorul tău! Proiect cofinanțat din Fondul European<br />
                de Dezvoltare Regională prin Programul Operațional Regional 2014-2020
              </p>
            </div>
          </Fragment>
        </div>
      </header>
    </article>
  </section>
</Layout>
