---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Note from '~/components/widgets/Note.astro';
import FAQs from '~/components/widgets/FAQs.astro';

import Header from '~/pages/landing/Header.astro';
import Services from '~/pages/landing/Services.astro';
import Components from '~/pages/landing/Components.astro';
import Stats from '~/components/widgets/Stats.astro';
import Portofolio from '~/components/portofolio/Portofolio.astro';
import Contact from '~/components/widgets/Contact.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <Header />
  <Note />
  <Services  />
  <Components />
  <Portofolio />

  <section class="bg-blue-50 dark:bg-slate-800">
    <Stats
      items={[
        { name: 'Ani experienta', value: '15' },
        { name: 'Clienti', value: '248' },
        { name: 'Angajati', value: '12' },
        { name: 'Countries', value: '30' },
      ]}
    />
  </section>
  <!-- FAQs Widget ******************* -->
  <section id="certificari" class="section-link">
    <FAQs
      title="Certificari"
      subtitle="Duis turpis dui, fringilla mattis sem nec, fringilla euismod neque. Morbi tincidunt lacus nec tortor scelerisque pulvinar."
      highlight="FAQs"
      items={[
        [
          {
            question: 'What do I need to start?',
            answer:
              'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
          },
        ],
        [
          {
            question: "What's an example of when you changed your mind?",
            answer:
              "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
          },
        ],
      ]}
    />
  </section>

  <!-- Stats Widget ****************** -->

  <section id="contact">
    <!-- GOOGLE MAPS HERE! -->
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d491.16119123706966!2d27.621310896132655!3d47.150108277165586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sro!4v1682604639431!5m2!1sen!2sro"
      width="100%"
      height="400"
      class="maps-light dark:maps-dark"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      style="filter: invert(90%)"></iframe>
  </section>
  <section class="bg-blue-50 dark:bg-slate-800">
    <div>
      <Contact />
    </div>
  </section>

  <!-- CallToAction Widget *********** -->

  <!-- <CallToAction
    callToAction={{
      text: 'Get template',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:download',
    }}
  > -->
  <!-- <Fragment slot="title">
      Astro + <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment> -->
</Layout>

<style is:inline is:global>
  maps-light {
    filter: grayscale(100%) invert(92%) contrast(83%);
  }
  maps-dark {
    filter: initial !important;
  }
  section-link:before {
    display: block;
    height: 60px; /* equal to the header height */
    margin-top: -60px; /* negative margin equal to the header height */
    visibility: hidden;
    content: '';
  }
  #contact:before {
    display: block;
    height: 100px; /* equal to the header height */
    margin-top: -100px; /* negative margin equal to the header height */
    visibility: hidden;
    content: '';
  }
</style>
